@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

html {
    scroll-behavior: smooth;
}

.body-index {
    margin: 0;
    background-image: url(../images/background.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 0px;
    padding: 0px;
}


/*      Segunda Sessão        */

.segundasessão {
    display: flex;
    justify-content: center;
    height: max-content;
    margin: 0px 35px;
    padding: 25px 25px;
    margin-top: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 29px;
}

.box-segundasessao {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    align-items: center;
    padding: 40px 290px 40px 290px;
    background-color: rgb(255, 255, 255);
    border-radius: 29px;
    border: black 3px solid;
    color: black;
    font-family: 'Miletus Grotesk', sans-serif;
    overflow: hidden;
    
}

.box-segundasessao h1 {
    border-bottom: 2px solid black;
    width: max-content;
    padding-bottom: 5px;
    font-size: 2.3rem;
    color: black;
    margin: 50px 0px 175px 0px;
}

.box-segundasessao p {
    color: black;
    font-size: 20px;
}

.box-segundasessao img {
    width: 50%;
}

.textos-segundasessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}

.textos-segundasessao p {
    margin-top: 25px;
}

.tutorial {
    height: max-content;
}

.tutorial h1 {
    margin: 135px 0px 35px 0px;

}

.peças-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    height: min-content;
}

.peças{
    display: flex;
    height: max-content;
    gap: 70px;
}

.movimentos-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}

.movimentos-content p {
    display: flex;
    align-items: center;
}


.linhaPassoAPasso {
    display: flex;
    height: max-content;
    width: max-content;
}

.passoapasso {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 130px;
    gap: 50px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 230px;
    border-radius: 10px;
    text-justify: center;
    gap: 75px;
    margin-top: 25px;
}

.card img{
    height: 200px;
    border-radius: 20px;
    width: auto;
    border: 1px black solid;
}
.card p, .card_Fixo p{
    margin-top: 10px;
    text-align: center;
}

.card_Fixo {
    display: flex;
    position: fixed;
    top: 0px;
    align-items: center;
    height: max-content;
    height: 90vh;
    border-radius: 10px;
    text-justify: center;
    margin-top: 25px;
}

.fixo_linha {
    display: flex;
    gap: 3px;
    margin-top: 3px;
}

.coluna_fixo {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.377);
    padding: 20px 5px 20px 10px;
    border-radius: 0px 20px 10px 20px;
}



.card_Fixo img{
    display: flex;
    height: 90px;
    border-radius: 20px;
    width: auto;
    border: 1px black solid;
}

.buttãoEsconder {
    background-color: rgb(160, 160, 160);
    padding: 15px 5px 15px 0px;
    border-radius: 0px 65px 65px 0px;
    font-weight:900;
}

.buttãoEsconder img{
    background-color: transparent;
    border: 0px;
    height: 46px;
}

.explicacao {
    text-indent: 50px;
}