@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

html {
    scroll-behavior: smooth;
}

.body-index {
    margin: 0;
    background-image: url(../images/background.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 0px;
    padding: 0px;
}

/*      Primeira sessão     */

.olaUsuario {
    color: white;
}

.sairb {
    font-size: 18px;
    padding: 13px;
    background-color: rgb(211, 29, 29);
    border-radius: 24px;
}

.botaoInicial {
    margin-top: 90px;
}

.praticarB {
    font-size: 28px;
    background-color: rgb(29, 211, 29);
    padding: 18px 15px;
    border-radius: 45px;
}

.começarB {
    font-size: 28px;
    background-color: rgb(31 191 31);
    padding: 18px 15px;
    border-radius: 45px;
}

.primeirasessao {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 260px;
    overflow: hidden;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    margin-top: 0px;
    border-bottom: solid 1px white;
}

.primeiratela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
}

.backgroundHome {
    height: 50vh;
    margin-right: 160px;
    z-index: 0;
}

.tituloP {
    font-size: 50px;
    width: max-content;
    color: white;
}

.titulos {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    animation: typing 6s 1;
    width: max-content;
    animation: typing 6s steps(78, end) 1, blink-caret .6s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes typing {
    from {
        width: 0ch
    }

    to {
        width: 70ch
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent
    }
}



.separaçao {
    height: 80px;
}

/*      Segunda Sessão        */

.segundasessão {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.linhaDoTempo {
    margin-left: 1px solid white;
}

.box-segundasessao {
    display: flex;
    width: 100%;
    height: 60vh;
    margin: 0px 35px;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px 40px 40px;
    background-color: rgb(221, 221, 224);
    border-radius: 29px;
    color: black;
    font-family: 'Miletus Grotesk', sans-serif;
    overflow: hidden;

}

.box-segundasessao h1 {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    font-size: 2.3rem;
    color: black;
    font-weight: bold;
}

.box-segundasessao p {
    color: black;
    font-size: 20px;
    width: 550px;
    margin-top: 50px;
}

.box-segundasessao img {
    width: 50%;
}

.textos-segundasessao {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 5%;
}

.textos-segundasessao p {
    text-align: justify;
    margin-top: 14%;
}

.comecarAprender {
    display: flex;
    font-size: 25px;
    border-radius: 75px;
    width: max-content;
    margin-top: 60px;
    margin-left: 140px;
    padding: 30px;
    color: white;
    background-color: blue;

}

.terceirasessao {
    display: flex;
    justify-content: center;
    height: max-content;
}

.box-terceirasessao {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    margin: 0px 35px;
    margin-top: 140px;
    margin-bottom: 85px;
    padding: 40px 0px 40px 0px;
    background-color: rgba(19, 19, 19, 0.904);
    border: 1px solid white;
    border-radius: 29px;
    color: white;
    font-family: 'Miletus Grotesk', sans-serif;
    overflow: hidden;
}

.box-terceirasessao h1 {
    padding: 0px 15px;
    font-size: 58px;
    width: max-content;
}

.box-terceirasessao img {
    width: 700px;
    border-radius: 29px;
}

.listaT {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 300px;
    justify-content: center;
    width: 100%;
    margin-top: 300px;
    margin-bottom: 300px;
}

.cronometro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    gap: 100px;
}

.cronometro p {
    text-indent: 40px;
    font-size: 18px;
    width: 600px;
    padding: 50px;
}

.cronometro h1 {
    border-left: 1px solid white;
    font-size: 40px;
}

.sobremim {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 300px;
    justify-content: center;
    width: 100%;
}

.sobremim img {
    height: 700px;
    width: 550px;
}

.sobremim-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;

}

.sobremim-texto {
    display: block;
    text-indent: 40px;
}


/* Quarta sessao */


.quartasessão {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box-quartasessao {
    display: flex;
    width: 100%;
    height: 70vh;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 40px 40px;
    background-color: rgb(221, 221, 224);
    color: black;
    font-family: 'Miletus Grotesk', sans-serif;
    overflow: hidden;

}

.box-quartasessao h1 {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    font-size: 2.3rem;
    color: black;
    font-weight: bold;
}

.box-quartasessao p {
    color: black;
    font-size: 20px;
    width: 550px;
    margin-top: 50px;
}

.box-quartasessao img {
    width: 50%;
}

.textos-quartasessao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.textos-quartasessao h1 {
    margin-top: 0px;
    width: max-content;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-top: 25px;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 270px;
    width: 230px;
    border-radius: 10px;
}

.card img {
    height: 200px;
    border-radius: 20px;
    width: auto;
    border: 1px black solid;
}
.card p {
    font-size: 25px;
    margin-top: 15px;
    width: max-content;
    border-bottom: 1px black solid;
}

/* Quinta sessao */


.quintasessao {
    display: flex;
    justify-content: center;
    height: max-content;
}

.box-quintasessao {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    margin: 0px 35px;
    margin-top: 85px;
    margin-bottom: 85px;
    padding: 40px;
    background-color: #353434c0;
    border: 1px solid white;
    border-radius: 29px;
    color: white;
    font-family: 'Miletus Grotesk', sans-serif;
    overflow: hidden;
}

.box-quintasessao h1 {
    width: max-content;
    border-left: 1px solid white;
    padding-left: 5px;
    font-size: 50px;
    margin-bottom: 60px;
}

.sobremim-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sobremim-texto h1 {
    font-size: 40px;
    margin-bottom: 50px;
}

.box-quintasessao img {
    width: 700px;
    border-radius: 29px;
}

.sobremim-content p {
    text-align: justify;
    text-indent: 40px;
    font-size: 18px;
    width: 600px;
    padding: 10px 50px;
}
